extends layout

block content
    mixin hiddenFields
        input(type="hidden", name="userId", value=user.id)
        input(type="hidden", name="userName", value=user.name)
        input(type="hidden", name="jobId", value=job.id)
        input(type="hidden", name="jobTitle", value=job.title)
        input(type="hidden", name="jobPoints", value=job.points)
    .app-header
        - var point = "points"
        - if (job.points === 1) point = "point" 
        h1.centre When did you do it?
    .main
        h2.centre I #{job.title}
        br
        form(name="addjob", method="post", action="/add-job")
            + hiddenFields
            input(type="hidden", name="jobDate", value=Sugar.Date.create('now'))
            button.green(type="submit") Just now
        form(name="addjob", method="post", action="/add-job")
            + hiddenFields
            input(type="hidden", name="jobDate", value=Sugar.Date.create('today'))
            button(type="submit") Earlier today
        form(name="addjob", method="post", action="/add-job")
            + hiddenFields
            input(type="hidden", name="jobDate", value=Sugar.Date.create('yesterday'))
            button(type="submit") Yesterday