extends layout

block content
    h1 Stats
    ul
        each user in users
            - var point = "points";
            - if (user.points === 1) point = "point" 
            li #{user.name} has #{user.points} #{point}
    h2 Recent jobs
    ul.job-history
        for event in history
            li.job-history__item #{event.userName} #{event.jobTitle} on #{event.dob}
