extends layout

block content
    .app-header
        h1.centre Stats
    .main
        h2 Leaderboard
        ul.leaderboard
            each user in users
                - var point = "points"
                - if (user.points === 1) point = "point" 
                li.leaderboard__item #{user.name} has #{user.points} #{point}
        h2 Recent activity
        ul.job-history
            for event in history
                - var date = Sugar.Date.relative(event.jobDate)
                li.job-history__item #{event.userName} #{event.jobTitle} #{date}
