extends layout

block content
    - var user = _.where(users, {id: currentUserId})[0];
    .app-header
        h1.centre Jobby
        p.intro Do jobs. Earn stars.
    .main
        ul.menu
                li.menu__item                  
                    a.green(href='/user-' + currentUserId + '/job-list' ) Log a job
        .scores
            h2.centre Last 7 days
            .users
                for user in users
                    .user
                        .points= user.points
                        .name= user.name
        if history[0]
            ul.job-history
                for event in history
                    - var date = Sugar.Date.relative(event.jobDate)
                    li.job-history__item #{event.userName} #{event.jobTitle} #{date}
