extends layout

block content
    .app-header
        h1.centre Jobby
        p.intro Do jobs. Earn stars.
    .main
        .scores
            h2.centre This week
            .users
                for user in users
                    .user
                        .points= user.userPoints
                        .name= user.userName                       
        ul.menu
                li.menu__item                  
                    a.green(href='/user-' + currentUserId + '/job-list' ) Log a job
        if history[0]
            ul.job-history
                for event in history
                    - var date = Sugar.Date.relative(event.jobDate)
                    - var userName = _.find(users, {userId: event.userId}).userName
                    li.job-history__item #{userName} #{event.jobTitle}
                        span.date #{date}
    - var currentUser = _.find(users, {userId: currentUserId});
    if currentUser.userAdmin
        br
        hr
        ul.nav
            li
                a(href='/admin') Admin
